.wrapper {
  width: 600px;
  background: #eee;
}

.heading {
  height: 50px;
  background: red;
}
.navigation {
  height: 50px;
  background: lightgreen;
}
.content{
  min-height: 400px;
  background: #ddd;
  float: left;
}
.footer{
 clear:both ;
 text-align: center;
 color: white;
 background-color: black;
}